
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}


.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, .2)
}

.btn {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #333;
}

.btn:hover, .btn:focus {
  background-color: hsl(30, 100%, 60%);
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2em;
}

.splash-btn:first-child {
  margin-left: 0;
}

.grid-display {
  display: flex;
}
 
.connected, .ready {
  font-weight: normal;

}

.connected span, 
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}
