
.destroyer-container {
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: violet;
  display: flex;
}

.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  margin: 10px;
  background-color: violet;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  background-color: lightgoldenrodyellow;
  display: flex;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  margin: 10px;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  background-color: teal;
  display: flex;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  margin: 10px;
  background-color: teal;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  margin: 10px;
  background-color: palevioletred;
  display: flex;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  margin: 10px;
  background-color: palevioletred;
  display: flex;
  flex-wrap: wrap;
}

.carrier-container {
  width: 200px;
  height: 40px;
  margin: 10px;
  background-color: green;
  display: flex;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  margin: 10px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color:violet;
}

.cruiser {
  background-color: teal;
}

.battleship {
  background-color:  palevioletred;
}

.submarine {
  background-color: lightgoldenrodyellow;
}

.carrier {
  background-color: green;
}

.boom {
  background-color: red;
}

.miss {
  background-color: black;
}