.taken,
.ship {
  background-color: hsl(0, 0%, 80%);
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.taken.start.vertical {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.end.vertical {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.start.horizontal {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.start.horizontal {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.boom {
  background-color: red;
}

.miss {
  background-color: black;
}
